<app-menu></app-menu>
<div class="wrapper" style="width: 70%; margin-left: auto; margin-right: auto;">
    <h4  class="mb-4 mt-5 col-md-12 col-sm-12 col-12 text-center col-light"   > RESULTADOS</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Tipo Registro</th>
                    <th>Paciente</th>
                    <th>Estado Visualizción</th>
                    <th>Ver Detalle</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros">
                    <td>{{registro.id}}</td>
                    <td>{{registro.fecha | date:'YYYY-MM-dd'}}</td>
                    <td>{{registro.tipoRegistro.tipoRegistro}}</td>
                    <td>{{registro.nombrePaciente}}</td>
                    <td >
                        <button type="button" class="btn" [ngClass]="{'btn-success': !registro.seen, 'btn-danger': registro.seen}" style="cursor:default;">
                            <ng-container *ngIf="registro.seen; else icon">
                                <i class="fa-solid fa-check-circle"></i>
                            </ng-container>
                            <ng-template #icon>
                                <i class="fa-solid fa-eye"></i>
                            </ng-template>
                        </button>
                    </td>
                    <td><button class="btn btn-outline-warning" (click)="this.redirect(registro)"><i class="fa-solid fa-eye"></i></button></td>
                    <td><button class="btn btn-outline-danger" (click)="confirmarEliminar(registro)"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-success"  [routerLink]="['/registros/crear']">Crear Registros</button>
      </div>
</div>

<div class="overlay" *ngIf="isLoading">
    <div class="spinner">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
</div>