<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " routerLink="/candidato/listar">
      <img src="https://t3.ftcdn.net/jpg/05/14/36/48/240_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" width="100" height="100" class="d-inline-block" style="border-radius: 50%;" alt="">
      
    </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item" *ngIf="isLogged && isAdmin" >
                <a class="nav-link  "  routerLink="/usuario/listar"><i class="fa-solid fa-user"></i> Usuarios</a>
            </li>
            <li class="nav-item" *ngIf="isLogged" >
                <a class="nav-link  "  routerLink="/candidato/listar"><i class="fas fa-house" ></i> Candidatos</a>
            </li>
            <li class="nav-item " *ngIf="!isLogged">
                <a class="nav-link "  routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
            </li>
            <li class="nav-item " *ngIf="isLogged" (click)="onLogOut()">
                <a class="nav-link "  ><i class="fas fa-door-open"></i> Cerrar Sesión</a>
            </li>   -->
            <li class="nav-item" >
                <a class="nav-link  "  routerLink="/usuario/listar"><i class="fa-solid fa-user"></i> Usuarios</a>
            </li>
            <li class="nav-item"  >
                <a class="nav-link  "  routerLink="/view"><i class="fas fa-house" ></i> Visualizador</a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link "  routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
            </li> -->
            <li class="nav-item " (click)="onLogOut()" style="cursor: pointer;">
                <a class="nav-link "  ><i class="fas fa-door-open"></i> Cerrar Sesión</a>
            </li>  
            
        </ul>
      </div>
  </nav>